$main-fontColor: black;
$data-fontColor: rgb(200, 200, 200);
.test {
    padding: 1rem;
}
.p-table {
    padding: 2rem;
    color: red;
    overflow-x: scroll;
}
th {
    background-color: gray;
}
td, th {
    padding: 0.2rem;
    text-align: left;
    border-bottom: 1px solid black;
    color: $data-fontColor;
}
th {
    color: $main-fontColor;
}
tr {
    background-color: gray;
    line-height: 1.5em;
}
button {
    background-color: gray;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 1em;
    padding: 0.5rem;
}
.buttons-box {
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
    & :hover {
        cursor: pointer;
    }
}

@media (max-width: 1040px) {
    .buttons-box {
        width: 100%;
    }
}
