.test {
    padding: 1rem;
}
.p-table {
    padding: 2rem;
}
th {
    background-color: gray;
}
td, th {
    padding: 0.2rem;
    text-align: left;
    border-bottom: 1px solid black;
}
tr {
    background-color: gray;
    line-height: 1.5em;
}